@model JUSTGOTUTOR.Models.Users

@{
    ViewData["Title"] = "ContentText";
    Layout = "_LayoutAdminLite";

    string str_header = $"{Model.UserNo} {Model.UserName} 老師簡介";
}
<div class="card">
    <div class="card-header text-white bg-primary">
        <h3 class="card-title text-white">
            @str_header
        </h3>
    </div>
    <div class="card-body pt-2">
        @Html.ActionLink("修改資料", "ContentTextEdit", ActionService.Controller, new
            {
                area = ActionService.Area,
                id = Model.Id
            },
                 new
                 {
                     @class = "btn btn-primary"
                 })

        @Html.ActionLink("返回列表", "Init", ActionService.Controller,
                 new { area = ActionService.Area }, new { @class = "btn btn-success" })
        <hr>
        @Html.Raw(Model.ContentText)
    </div>

</div>
